.car-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: none;
    border-radius: 10px;

    img {
        border-radius: 10px 10px 0 0;
    }

    .car-info {
        width: 100%;
        padding: 1rem;
        border: 1px solid #e9e9e9;
        border-top: none;
        border-radius: 0 0 10px 10px;

        h4 {
            font-weight: bold;
        }

        .attr {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            .attr-item {
                display: flex;
                align-items: center;

                font-size: 0.8rem;
            }
        }
    }
}
