.filter {
    border-bottom: solid 1px #d3d3d3;
    &--head {
        padding: 1.5rem;
        cursor: pointer;
        // background-color: red;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .arrow-icon {
            transition: transform 0.3s ease;
        }

        .arrow-icon.rotate {
            transform: rotate(180deg);
        }
    }
    &--main {
        background-color: #f5f5f5;
        max-height: 0;
        overflow: hidden;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: small;

        &__item {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.5rem;

            .hide {
                display: none;
            }
            .display {
                display: block;
            }
        }
    }

    .focus {
        background-color: #c0c0c0;
    }

    .expanded {
        max-height: 1000px;
    }
}
